apiVersion: apps/v1
kind: Deployment
metadata:
  name: kmm-api
spec:
  selector:
    matchLabels:
      app: kmm-api
  template:
    metadata:
      labels:
        app: kmm-api
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true
      serviceAccountName: kmm-api
      containers:
        - name: kmm-api
          image: ghcr.io/alinflorin/kmm-api-{{ .Values.arch }}:{{ .Chart.AppVersion }}
          imagePullPolicy: IfNotPresent
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
          ports:
            - containerPort: 8080
          env:
            - name: NODE_ENV
              value: production
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3