apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kmm
  labels:
    app.kubernetes.io/name: kmm
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}

spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ .Values.ingress.domain }}
      secretName: kmm-tls
  rules:
    - host: {{ .Values.ingress.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kmm-ui
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: kmm-api
                port:
                  number: 80