apiVersion: apps/v1
kind: Deployment
metadata:
  name: kmm-ui
spec:
  selector:
    matchLabels:
      app: kmm-ui
  template:
    metadata:
      labels:
        app: kmm-ui
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true
      containers:
        - name: kmm-ui
          image: ghcr.io/alinflorin/kmm-ui-{{ .Values.arch }}:{{ .Chart.AppVersion }}
          imagePullPolicy: IfNotPresent
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
          ports:
            - containerPort: 80
          env:
            - name: NODE_ENV
              value: production
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3